<!DOCTYPE html>
<html>
<head>
	<title>Tetris Login</title>
</head>
<body>
	<form action='/tetris' method='post'>
		<input type="text" name="user_name" placeholder="User Name">
		<button type="submit" value='submit'>Submit</button>
	</form>

</body>
</html>