<!DOCTYPE html>
<html>
<head>
	<title>Tetris</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="./styles/tetris.css">
  <script type="text/javascript" src="./scripts/tetris.js"></script>
  <script type="text/javascript" src="./scripts/main.js"></script>
</head>
<body>
	<div id='board'></div>
<!-- 	<div id='shape'></div> -->
</body>
</html>